 a {
     color: #fff;
     text-decoration: none;
 }
 
 ul {
     margin: 0;
     list-style: none;
 }
 
 .first-box {
     position: fixed;
 }
 
 #menu {
     width: 1519px;
     height: 60px;
     background: transparent;
     border-radius: 6px;
 }
 
 #menu li {
     float: left;
     margin-top: 10px;
     line-height: 22px;
     padding: 0;
     position: relative;
 }
 
 #menu li a {
     padding: 10px 20px;
     display: inline-block;
 }
 
 #menu li .hover {
     background: #fff;
     opacity: 0.5;
     color: #06F;
     border-radius: 5px;
 }
 
 #menu li .lis {
     width: 1214px;
     height: 200px;
     line-height: 40px;
     border-radius: 5px;
     /* background: #FC6; */
     position: absolute;
     top: 50px;
 }
 
 #menu li .lis a {
     padding: 0 10px;
     background: none;
     opacity: 1;
 }
 
 #menu li .lis a:hover {
     text-decoration: underline;
     background: #fff;
     color: #47b4e1;
     font-weight: 900;
 }